<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <property name="AccessKeyId" value="LTAIAeK2luuQOlWF"/>
  <property name="AccessKeySecret" value="ZtFhfd0ah4DzMOUwrenMqJPIR4G5wF"/>
  <property name="Endpoint" value="oss-cn-shenzhen.aliyuncs.com"/>
  <property name="BucketName" value="mjzimgupload"/>
  <property name="ExcExt" value="asp,aspx,ashx,asa,asmx,asax,php,jsp,htm,html"/>
</configuration>