<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="qiNiuYun" type="Oss.ConfigurationSectionHandler.QiNiuYunConfigurationSectionHandler,Oss"/>
    <section name="aliYun" type="Oss.ConfigurationSectionHandler.AliYunConfigurationSectionHandler,Oss"/>
  </configSections>

  <qiNiuYun>
    <property name="AccessKey" value="DsiQoWmlKhmGUXlwlGqre3yLe0qaG09UfC7rxgMe" />
    <property name="SecretKey" value="AtkN-sKx-C9nyQPtvgkGm87jL9XbxTjuvuUfQhx6" />
    <property name="BucketName" value="backet" />
    <property name="RsHost" value="http://rs-z2.qbox.me" />
    <property name="UpHost" value="http://upload-z2.qiniu.com" />
    <property name="RsfHost" value="http://rsf-z2.Qbox.me" />
    <property name="Domain" value="http://onjyr6lwp.bkt.clouddn.com" />
    <property name="ExcExt" value="asp,aspx,ashx,asa,asmx,asax,php,jsp,htm,html"/>
  </qiNiuYun>

  <aliYun>
    <property name="AccessKeyId" value="LTAIAeK2luuQOlWF"/>
    <property name="AccessKeySecret" value="ZtFhfd0ah4DzMOUwrenMqJPIR4G5wF"/>
    <property name="Endpoint" value="oss-cn-shenzhen.aliyuncs.com"/>
    <property name="BucketName" value="mjzimgupload"/>
    <property name="ExcExt" value="asp,aspx,ashx,asa,asmx,asax,php,jsp,htm,html"/>
  </aliYun>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>