<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="qiNiuYun" type="Oss.ConfigurationSectionHandler.QiNiuYunConfigurationSectionHandler,Oss"/>
    <section name="aliYun" type="Oss.ConfigurationSectionHandler.AliYunConfigurationSectionHandler,Oss"/>
  </configSections>

  <qiNiuYun>
    <property name="AccessKey" value="xxx" />
    <property name="SecretKey" value="xxx" />
    <property name="BucketName" value="xxx" />
    <property name="RsHost" value="xxx" />
    <property name="UpHost" value="xxx" />
    <property name="RsfHost" value="xxx" />
    <property name="Domain" value="xxx" />
    <property name="ExcExt" value="asp,aspx,ashx,asa,asmx,asax,php,jsp,htm,html"/>
  </qiNiuYun>

  <aliYun>
    <property name="AccessKeyId" value="xxx"/>
    <property name="AccessKeySecret" value="xxx"/>
    <property name="Endpoint" value="xxx"/>
    <property name="BucketName" value="xxx"/>
    <property name="ExcExt" value="asp,aspx,ashx,asa,asmx,asax,php,jsp,htm,html"/>
  </aliYun>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>