<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <property name="AccessKey" value="DsiQoWmlKhmGUXlwlGqre3yLe0qaG09UfC7rxgMe" />
  <property name="SecretKey" value="AtkN-sKx-C9nyQPtvgkGm87jL9XbxTjuvuUfQhx6" />
  <property name="BucketName" value="backet" />
  <property name="RsHost" value="http://rs-z2.qbox.me" />
  <property name="UpHost" value="http://upload-z2.qiniu.com" />
  <property name="RsfHost" value="http://rsf-z2.Qbox.me" />
  <property name="Domain" value="http://onjyr6lwp.bkt.clouddn.com" />
  <property name="ExcExt" value="asp,aspx,ashx,asa,asmx,asax,php,jsp,htm,html"/>
</configuration>